/*
	Skin name: Exclusive
	Description: A new skin for a new release
	Author: Fredrik Fahlstad
	Author url: http://www.fahlstad.se
	WP-Forum url: http://www.fahlstad.se/wp-plugins/wp-forum
	Version: 1.1
*/ 
#wpf-wrapper{
	font-size: 90%;
}
.wpf-table, .wpf-post-table{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td, th{
	padding: 5px;
}
td{
	vertical-align: top;
}
.wpf-table tr{
	border-bottom: 1px solid #ccc;
}
.wpf-table tr.alt, tr.wpf-alt{
	background: #f9f9f9;
}
.wpf-table textarea {
	width: 98%;
}
th{
	background: #555;
	color: #fff;
	font-weight: bold;
}

.wpf-meta{
	border-bottom: 1px solid #ccc;
}

.wpf-bright{
	background: #eee;
	color: #333;
}
th h4{
	margin: 0;
}

#wpf-info{
	background: #f9f9f9;
	text-align: center;
	border: 1px solid #ccc;
	padding: 5px;
	margin-top: 1em;
}
#forummenu, #topicmenu, #mainmenu{
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 0;
}
p#trail{
	margin-top: 1em;
}

span.new {
    background:url("images/icons.png") no-repeat scroll -84px -41px transparent;
    display:block;
    height:9px;
    text-indent:-999em;
    width:23px;
}
span.post_sticky {
    background:url("images/icons.png") no-repeat scroll -236px -38px transparent;
    display:block;
    height:18px;
    text-indent:-999em;
    width:21px;
}
span.normal_post {
    background:url("images/icons.png") no-repeat scroll -203px -41px transparent;
    display:block;
    height:15px;
    width:13px;
}
#content span.xx {
    display:block;
    background:url("images/icons.png") no-repeat scroll -181px -81px transparent;
    height:19px;
    width:20px;
    float:left;
    padding-right:10px;
}
#content span.quote {
    display:block;
    background:url("images/icons.png") no-repeat scroll -10px -81px transparent;
    height:15px;
    width:15px;
    float:left;
    padding-right:5px;
}
span.delete {
    display:block;
    background:url("images/icons.png") no-repeat scroll -138px -15px transparent;
    height:18px;
    width:17px;
    float:left;
    padding-right:5px;
}
span.modify {
    display:block;
    background:url("images/icons.png") no-repeat scroll -10px -39px transparent;
    height:18px;
    width:18px;
    float:left;
    padding-right:5px;
}
span.forum_on {
    display:block;
    background:url("images/icons.png") no-repeat scroll -327px -41px transparent;
    height:30px;
    width:30px;
    float:left;
}
span.forum_off {
    display:block;
    background:url("images/icons.png") no-repeat scroll -277px -41px transparent;
    height:30px;
    width:30px;
    float:left;
}
span.new_some {
    display:block;
    background:url("images/icons.png") no-repeat scroll -165px -41px transparent;
    height:18px;
    width:18px;
    float:left;
    padding-right:5px;
}
span.new_none {
    display:block;
    background:url("images/icons.png") no-repeat scroll -127px -41px transparent;
    height:18px;
    width:18px;
    float:left;
    padding-right:5px;
}
#content .legend_width {
    width:90px;
    padding:6px 10px 0 5px;
}
span.upshrink {
    background:url("images/icons.png") no-repeat scroll -79px -81px transparent;
    display:block;
    height:13px;
    width:13px;
}
span.b {
    background:url("images/icons.png") no-repeat scroll -10px -15px transparent;
    display:block;
    width:12px;
    height:11px;
    float:left;
    margin-right:3px;
}
span.i {
    background:url("images/icons.png") no-repeat scroll -41px -15px transparent;
    display:block;
    width:9px;
    height:11px;
    float:left;
    margin-right:3px;
}
span.u {
    background:url("images/icons.png") no-repeat scroll -70px -15px transparent;
    display:block;
    width:12px;
    height:14px;
    float:left;
    margin-right:3px;
}
span.code {
    background:url("images/icons.png") no-repeat scroll -103px -15px transparent;
    display:block;
    width:15px;
    height:13px;
    float:left;
    margin-right:3px;
}
span.quote_form {
    background:url("images/icons.png") no-repeat scroll -44px -81px transparent;
    display:block;
    width:15px;
    height:15px;
    float:left;
    margin-right:3px;
}
span.list {
    background:url("images/icons.png") no-repeat scroll -356px -15px transparent;
    display:block;
    width:11px;
    height:13px;
    float:left;
    margin-right:3px;
}
span.li {
    background:url("images/icons.png") no-repeat scroll -320px -15px transparent;
    display:block;
    width:16px;
    height:7px;
    float:left;
    margin-top:3px;
    margin-right:3px;
}
span.url {
    background:url("images/icons.png") no-repeat scroll -146px -81px transparent;
    display:block;
    width:16px;
    height:16px;
    float:left;
    margin-right:3px;
}
span.img {
    background:url("images/icons.png") no-repeat scroll -247px -15px transparent;
    display:block;
    width:13px;
    height:14px;
    float:left;
    margin-right:3px;
}
span.email {
    background:url("images/icons.png") no-repeat scroll -175px -15px transparent;
    display:block;
    width:16px;
    height:16px;
    float:left;
}
span.info {
    background:url("images/icons.png") no-repeat scroll -281px -15px transparent;
    display:block;
    width:19px;
    height:16px;
}
span.upshrink2 {
    background:url("images/icons.png") no-repeat scroll -112px -81px transparent;
    display:block;
    width:13px;
    height:13px;
}
span.my_hot_post {
    background:url("images/icons.png") no-repeat scroll -211px -14px transparent;
    display:block;
    width:16px;
    height:17px;
}
span.hot_post {
    background:url("images/icons.png") no-repeat scroll -211px -15px transparent;
    display:block;
    width:16px;
    height:15px;
}

/* latest activity widget */
#latest_activity ul li {
	margin-top: 7px;
	margin-bottom: 7px;
}

#trail a.ico_feed {
	background-image:url("images/icons/feed_16.png");
	width:16px;
	height:16px;
	float: right;
	text-indent: -999em;
}